.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: #000;
}