.contact {
    display: -webkit-flex; 
    display: flex;
    align-items: center;

    width: 70vw;
    padding: 3vmin;
    margin: 2vh auto 0;

    border-width: 2px 0;
    border-style: solid none;
    border-color: #d1e0e0 #000 #85adad;
    border-radius: 6px;

    background: linear-gradient(#D1E0E0, #b3cccc) #b3cccc;
    transition: 0.2s;

    cursor: pointer;
}

.contact:hover {
    background: linear-gradient(#d1e0e0, #f0f5f5) #d1e0e0;
}

.contact__avatar {
    height: calc(20px + 5vmin);
    width: calc(20px + 5vmin);

    margin: 1vmin 2vmin 1vmin 0;

    border-radius: 50%;
    border: 2px solid #85adad;
}

.contact__name {
    font-size: 3vmin;
    font-weight: bold;
}

.contact__edit {
    align-items: center;
    margin-left: auto;
    padding: 1vmin;
    border-radius: 6%;
}

.contact__edit:hover {
    background-color:  rgba(133, 173, 173, 0.4);
}

.edit-icon {
    height: calc(5px + 2vmin);
    width: calc(5px + 2vmin);
}

.contact-info {
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 70vw;
    margin: 0 auto 2vh;
    padding: 3vmin;

    border-radius: 6px;

    background-color: #d1e0e0;
}

.info {
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding: 1vmin;
}

.info__label {
    font-size: 2vmin;
    font-weight: bold;

    margin-right: 1vmin;

    width: 15vw;

    text-align: left;
}

.info__data {
    font-size: 2vmin;
}

.input-data {
    width: 40vw;
}

.buttons {
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1vmin;
}

.buttons_style {
    padding: 1vmin;
    
    font-weight: bold;
    color: white;

    border-radius: 6%;

    border: none;
    cursor: pointer;
}

.buttons__edit {
    background: #40c781;
    box-shadow: 0 -3px rgb(53,167,110) inset;
}
.buttons__edit:hover {
    background: rgb(53,167,110);
}

.buttons__cancel {
    background: #c84141;
    box-shadow: 0 -3px rgb(167, 53, 53) inset;
}

.buttons__cancel:hover {
    background: rgb(167, 53, 53);
}